@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navigation
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow:hidden;
}

.navigation ul
{
    position: relative;
}

.navigation ul li
{
    text-align: center;
    list-style: none;
}

.navigation ul li a
{
    color: black;
    text-decoration: none;
    font-size: 3em;
    padding: 5px 20px;
    display: inline-flex;
    font-weight: 700;
    transition: 0.5s;
}

.navigation ul:hover li a
{
    color:#0002;
}

.navigation ul li:hover a
{
    color: #000;
    background: #fff;
}

.navigation ul li a:before
{
    content: '';
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    color: rgba(0,0,0,.1);
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 500px;
}

.navigation ul li a:hover::before
{
    content: attr(data-text);
    opacity: 1;
    left: 50%;
    letter-spacing: 10px;
    width: 3000px;
    height: 3000px;
}

.navigation ul li:nth-child(6n+1) a:before
{
    background: #674b23;
}

.navigation ul li:nth-child(6n+2) a:before
{
    background: #d9b68a;
}
.navigation ul li:nth-child(6n+3) a:before
{
    background: #B8B4AF;
}
.navigation ul li:nth-child(6n+4) a:before
{
    background: #747f9e;
}
.navigation ul li:nth-child(6n+5) a:before
{
    background: #F4EBD0;
}


html {
  font-size: 16px;
}

body {
  min-width: 475px;
  font-family: "Cormorant Garamond", serif;
}

@media only screen and (max-width: 810px) {
  html {
    font-size: 11px;
  }
}


@media only screen and (max-width: 540px) {
  html {
    font-size: 11px;
  }
}


nav {
  position: fixed;
  z-index: 5;
  left: -17.8em;
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 5rem;
  padding-right: 2rem;
  background: url("https://i.ibb.co/5RbzwL2/UN-backgg.jpg") center center repeat;
  font-family: "Proza Libre", serif;
  font-size: 18px;
  line-height: 2.2;
  font-weight: bold;
  color: #142033;

}

nav:hover {
  left: 0;
}

nav .hover-content {
  margin-right: 3em;
}

nav h2 {
  font-family: "Cormorant Garamond", serif;
  font-size: 2.6em;
  font-weight: bold;
  color: #B88917;
}


nav ol {
  list-style: upper-roman outside;
}

nav a {
  text-decoration: none;
  color: inherit;
}

nav a:hover,
nav a.active {
  color: #B88917;
}

/* Header */

header {
  padding: 3.125rem 13rem;
  background-color: #142033;
  text-align: center;
  font-weight: bold;
  line-height: 2.1;
  color: #b3d0ff;
}

header h1 {
  font-size: 6rem;
  line-height: 1;
  font-weight: 500;
  color: #B88917;
}

header em {
  font-size: 1.5rem;
  font-style: italic;
}

header h2 {
  font-size: 3rem;
}

@media only screen and (max-width: 810px) {
  header {
    padding: 3.125rem 8rem 3.125rem 10rem;
  }

  header h1 {
    font-size: 4rem;
  }

  header h2 {
    font-size: 2rem;
  }
}

/* Section Content */

.book-content {
  padding: 4.75rem 20%;
  background-color: #FFF6EA;
  font-family: "Proza Libre", sans-serif;
  font-size: 1.5rem;
  line-height: 2;
  color: #4a4a4a;
  cursor: default;
}

.book-content h3 {
  text-align: center;
  font-size: 3rem;
  line-height: 2.1;
  font-weight: bold;
  color: #CDC784;
}

.book-content .prose {
  margin-bottom: 4.75rem;
}

@media only screen and (max-width: 810px) {
  .book-content {
    padding-right: 10%;
  }
}

@media only screen and (max-width: 540px) {
  .book-content {
    padding-right: 1%;
  }
}

/* Page Navigation Buttons */

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 14rem;
  padding: 0 2rem;
  opacity: 0.4;
  font-size: 3rem;
  font-weight: bold;
  text-decoration: none;
  color: #B88917;

}

.button:hover {
  opacity: 1;
}

@media only screen and (max-width: 930px) {
  .button {
    width: auto;
    padding: 1rem 2rem;
  }

  .button .action {
    display: none;
  }
}
